<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Styles/graph.css"></link>
    <title>Découvrir les polluants</title>
  </head>
  <script>function changeGraph(selector){
    const container = document.querySelector(".graphes");
    var newGraphes = `        <div class="polluant left">
        <iframe width="800" height="400" src="https://public.tableau.com/views/test_16561097589390/dashlimit?Nom%20Poll=CO&Nom%20Station=${selector.value}&:embed=true&:showVizHome=no&:toolbar=no"></iframe>
        <div><h2>titre du polluant</h2><p>Description du polluant</p></div>
        </div>
    <div class="polluant right">
        <iframe width="800" height="400" src="https://public.tableau.com/views/test_16561097589390/dashlimit?Nom%20Poll=SO2&Nom%20Station=${selector.value}&:embed=true&:showVizHome=no&:toolbar=no"></iframe>
    </div>
    <div class="polluant left">
        <iframe width="800" height="400" src="https://public.tableau.com/views/test_16561097589390/dashlimit?Nom%20Poll=NO2&Nom%20Station=${selector.value}&:embed=true&:showVizHome=no&:toolbar=no"></iframe>
        <div><h2>titre du polluant</h2><p>Description du polluant</p></div>
        </div>
    <div class="polluant right">
        <iframe width="800" height="400" src="https://public.tableau.com/views/test_16561097589390/dashlimit?Nom%20Poll=NO&Nom%20Station=${selector.value}&:embed=true&:showVizHome=no&:toolbar=no"></iframe>
    </div>
    <div class="polluant left">
        <iframe width="800" height="400" src="https://public.tableau.com/views/test_16561097589390/dashlimit?Nom%20Poll=C6H6&Nom%20Station=${selector.value}&:embed=true&:showVizHome=no&:toolbar=no"></iframe>
        <div><h2>titre du polluant</h2><p>Description du polluant</p></div>
        </div>
    <div class="polluant right">
        <iframe width="800" height="400" src="https://public.tableau.com/views/test_16561097589390/dashlimit?Nom%20Poll=PM10&Nom%20Station=${selector.value}&:embed=true&:showVizHome=no&:toolbar=no"></iframe>
    </div>
    <div class="polluant left">
        <iframe width="800" height="400" src="https://public.tableau.com/views/test_16561097589390/dashlimit?Nom%20Poll=PM2.5&Nom%20Station=${selector.value}&:embed=true&:showVizHome=no&:toolbar=no"></iframe>
        <div><h2>titre du polluant</h2><p>Description du polluant</p></div>
        </div>
    `;
    container.innerHTML="";
    container.innerHTML=newGraphes;
}</script>

  <body>
    <div class="container">
      <div class="header">
        <div class="logo-container">
          <img class="logo" src="../Assets/Métropole_Rouen_Normandie.png " />
          <img class="logo" src="../Assets/atmo.png " />
        </div>
        <div class="title-container">
          <h1>Rouen Track'Air</h1>
        </div>
      </div>
      <div class="selector">
        <select onchange="console.log(this);changeGraph(this)">
            <option value="" disabled selected>--Nom De la Station--</option>
            <option value="ALEN&#x5FMET">ALEN_MET</option>
            <option value="BUR">BUR</option>
            <option value="CAEN&#x5FCHV">CAEN_CHV</option>
            <option value="CAEN&#x5FIFS">CAEN_IFS</option>
            <option value="CAEN&#x5FVAU">CAEN_VAU</option>
            <option value="CAU">CAU</option>
            <option value="CHER&#x5FHDV">CHER_HDV</option>
            <option value="CHER&#x5FPOR">CHER_POR</option>
            <option value="CHS">CHS</option>
            <option value="CLR">CLR</option>
            <option value="DIG">DIG</option>
            <option value="DIP">DIP</option>
            <option value="EVT">EVT</option>
            <option value="FEC">FEC</option>
            <option value="GCM">GCM</option>
            <option value="GOR">GOR</option>
            <option value="HAR">HAR</option>
            <option value="HONFLEUR">HONFLEUR</option>
            <option value="HRI">HRI</option>
            <option value="HVH">HVH</option>
            <option value="JUS">JUS</option>
            <option value="LFP">LFP</option>
            <option value="LISIEUX">LISIEUX</option>
            <option value="LMI">LMI</option>
            <option value="MAS">MAS</option>
            <option value="MEN">MEN</option>
            <option value="MERA">MERA</option>
            <option value="MOULT&#x5FPROX">MOULT_PROX</option>
            <option value="MPB">MPB</option>
            <option value="ND2">ND2</option>
            <option value="OUISTREH">OUISTREH</option>
            <option value="POS">POS</option>
            <option value="QDP">QDP</option>
            <option value="QUI">QUI</option>
            <option value="ROM">ROM</option>
            <option value="SRC">SRC</option>
            <option value="STA">STA</option>
            <option value="STLO&#x5FEGL">STLO_EGL</option>
            <option value="SUD3">SUD3</option>
            <option value="TAN">TAN</option>
        </select>
    </div>
    <div class="graphes">
        <div class="polluant left">
            <iframe width="800" height="400" src="https://public.tableau.com/views/test_16561097589390/dashlimit?Nom%20Poll=CO&Nom%20Station=SUD3&:embed=true&:showVizHome=no&:toolbar=no"></iframe>
            <div><h2>titre du polluant</h2><p>Description du polluant</p></div>
        </div>
        <div class="polluant right">
            <div><h2>titre du polluant</h2><p>Description du polluant</p></div>
            <iframe width="800" height="400" src="https://public.tableau.com/views/test_16561097589390/dashlimit?Nom%20Poll=NO&Nom%20Station=SUD3&:embed=true&:showVizHome=no&:toolbar=no"></iframe>
        </div>
        <div class="polluant left">
            <iframe width="800" height="400" src="https://public.tableau.com/views/test_16561097589390/dashlimit?Nom%20Poll=NO2&Nom%20Station=SUD3&:embed=true&:showVizHome=no&:toolbar=no"></iframe>
            <div><h2>titre du polluant</h2><p>Description du polluant</p></div>
        </div>
        <div class="polluant right">
            <div><h2>titre du polluant</h2><p>Description du polluant</p></div>
            <iframe width="800" height="400" src="https://public.tableau.com/views/test_16561097589390/dashlimit?Nom%20Poll=O3&Nom%20Station=SUD3&:embed=true&:showVizHome=no&:toolbar=no"></iframe>
        </div>
        <div class="polluant left">
            <iframe width="800" height="400" src="https://public.tableau.com/views/test_16561097589390/dashlimit?Nom%20Poll=PM2&#x2e5&Nom%20Station=SUD3&:embed=true&:showVizHome=no&:toolbar=no"></iframe>
            <div><h2>titre du polluant</h2><p>Description du polluant</p></div>
        </div>
        <div class="polluant right">
            <div><h2>titre du polluant</h2><p>Description du polluant</p></div>
            <iframe width="800" height="400" src="https://public.tableau.com/views/test_16561097589390/dashlimit?Nom%20Poll=PM10&Nom%20Station=SUD3&:embed=true&:showVizHome=no&:toolbar=no"></iframe>
        </div>
        <div class="polluant left">
            <iframe width="800" height="400" src="https://public.tableau.com/views/test_16561097589390/dashlimit?Nom%20Poll=SO2&Nom%20Station=SUD3&:embed=true&:showVizHome=no&:toolbar=no"></iframe>
            <div><h2>titre du polluant</h2><p>Description du polluant</p></div>
        </div>
    </div>
    </div>
  </body>
</html>
