<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Styles/graph.css"></link>
    <title>Découvrir les polluants</title>
  </head>
  <script>function changeGraph(value){
    const container = document.querySelector(".graphes");
    var newGraphes = `        <div class="polluant left">
        <iframe width="800" height="400" src="https://public.tableau.com/views/test_16561097589390/dashlimit?Nom%20Poll=CO&Nom%20Station=${value}&:embed=true&:showVizHome=no&:toolbar=no"></iframe>
    </div>
    <div class="polluant right">
        <iframe width="800" height="400" src="https://public.tableau.com/views/test_16561097589390/dashlimit?Nom%20Poll=SO2&Nom%20Station=${value}&:embed=true&:showVizHome=no&:toolbar=no"></iframe>
    </div>
    <div class="polluant left">
        <iframe width="800" height="400" src="https://public.tableau.com/views/test_16561097589390/dashlimit?Nom%20Poll=NO2&Nom%20Station=${value}&:embed=true&:showVizHome=no&:toolbar=no"></iframe>
    </div>
    <div class="polluant right">
        <iframe width="800" height="400" src="https://public.tableau.com/views/test_16561097589390/dashlimit?Nom%20Poll=NO&Nom%20Station=${value}&:embed=true&:showVizHome=no&:toolbar=no"></iframe>
    </div>
    <div class="polluant left">
        <iframe width="800" height="400" src="https://public.tableau.com/views/test_16561097589390/dashlimit?Nom%20Poll=C6H6&Nom%20Station=${value}&:embed=true&:showVizHome=no&:toolbar=no"></iframe>
    </div>
    <div class="polluant right">
        <iframe width="800" height="400" src="https://public.tableau.com/views/test_16561097589390/dashlimit?Nom%20Poll=PM10&Nom%20Station=${value}&:embed=true&:showVizHome=no&:toolbar=no"></iframe>
    </div>
    <div class="polluant left">
        <iframe width="800" height="400" src="https://public.tableau.com/views/test_16561097589390/dashlimit?Nom%20Poll=PM2.5&Nom%20Station=${value}&:embed=true&:showVizHome=no&:toolbar=no"></iframe>
    </div>
    `;
    console.log("coucuo");
    container.innerHTML="";
    container.innerHTML=newGraphes;
}</script>

  <body>
    <div class="container">
      <div class="header">
        <div class="logo-container">
          <img class="logo" src="../Assets/Métropole_Rouen_Normandie.png " />
          <img class="logo" src="../Assets/atmo.png " />
        </div>
        <div class="title-container">
          <h1>Rouen Track'Air</h1>
        </div>
      </div>
      <div class="selector">
        <select>
            <option onclick="changeGraph(this.value)" value="" disabled selected>--Nom De la Station--</option>
            <option onclick="changeGraph(this.value)" value="ALEN_MET">ALEN_MET</option>
            <option onclick="changeGraph(this.value)" value="BUR">BUR</option>
            <option onclick="changeGraph(this.value)" value="CAEN_CHV">CAEN_CHV</option>
            <option onclick="changeGraph(this.value)" value="CAEN_IFS">CAEN_IFS</option>
            <option onclick="changeGraph(this.value)" value="CAEN_VAU">CAEN_VAU</option>
            <option onclick="changeGraph(this.value)" value="CAU">CAU</option>
            <option onclick="changeGraph(this.value)" value="CHER_HDV">CHER_HDV</option>
            <option onclick="changeGraph(this.value)" value="CHER_POR">CHER_POR</option>
            <option onclick="changeGraph(this.value)" value="CHS">CHS</option>
            <option onclick="changeGraph(this.value)" value="CLR">CLR</option>
            <option onclick="changeGraph(this.value)" value="DIG">DIG</option>
            <option onclick="changeGraph(this.value)" value="DIP">DIP</option>
            <option onclick="changeGraph(this.value)" value="EVT">EVT</option>
            <option onclick="changeGraph(this.value)" value="FEC">FEC</option>
            <option onclick="changeGraph(this.value)" value="GCM">GCM</option>
            <option onclick="changeGraph(this.value)" value="GOR">GOR</option>
            <option onclick="changeGraph(this.value)" value="HAR">HAR</option>
            <option onclick="changeGraph(this.value)" value="HONFLEUR">HONFLEUR</option>
            <option onclick="changeGraph(this.value)" value="HRI">HRI</option>
            <option onclick="changeGraph(this.value)" value="HVH">HVH</option>
            <option onclick="changeGraph(this.value)" value="JUS">JUS</option>
            <option onclick="changeGraph(this.value)" value="LFP">LFP</option>
            <option onclick="changeGraph(this.value)" value="LISIEUX">LISIEUX</option>
            <option onclick="changeGraph(this.value)" value="LMI">LMI</option>
            <option onclick="changeGraph(this.value)" value="MAS">MAS</option>
            <option onclick="changeGraph(this.value)" value="MEN">MEN</option>
            <option onclick="changeGraph(this.value)" value="MERA">MERA</option>
            <option onclick="changeGraph(this.value)" value="MOULT_PROX">MOULT_PROX</option>
            <option onclick="changeGraph(this.value)" value="MPB">MPB</option>
            <option onclick="changeGraph(this.value)" value="ND2">ND2</option>
            <option onclick="changeGraph(this.value)" value="OUISTREH">OUISTREH</option>
            <option onclick="changeGraph(this.value)" value="POS">POS</option>
            <option onclick="changeGraph(this.value)" value="QDP">QDP</option>
            <option onclick="changeGraph(this.value)" value="QUI">QUI</option>
            <option onclick="changeGraph(this.value)" value="ROM">ROM</option>
            <option onclick="changeGraph(this.value)" value="SRC">SRC</option>
            <option onclick="changeGraph(this.value)" value="STA">STA</option>
            <option onclick="changeGraph(this.value)" value="STLO_EGL">STLO_EGL</option>
            <option onclick="changeGraph(this.value)" value="SUD3">SUD3</option>
            <option onclick="changeGraph(this.value)" value="TAN">TAN</option>
        </select>
    </div>
    <div class="graphes">
        <div class="polluant left">
            <iframe width="800" height="400" src="https://public.tableau.com/views/test_16561097589390/dashlimit?Nom%20Poll=CO&Nom%20Station=SUD3&:embed=true&:showVizHome=no&:toolbar=no"></iframe>
        </div>
        <div class="polluant right">
            <iframe width="800" height="400" src="https://public.tableau.com/views/test_16561097589390/dashlimit?Nom%20Poll=NO&Nom%20Station=SUD3&:embed=true&:showVizHome=no&:toolbar=no"></iframe>
        </div>
        <div class="polluant left">
            <iframe width="800" height="400" src="https://public.tableau.com/views/test_16561097589390/dashlimit?Nom%20Poll=NO2&Nom%20Station=SUD3&:embed=true&:showVizHome=no&:toolbar=no"></iframe>
        </div>
        <div class="polluant right">
            <iframe width="800" height="400" src="https://public.tableau.com/views/test_16561097589390/dashlimit?Nom%20Poll=O3&Nom%20Station=SUD3&:embed=true&:showVizHome=no&:toolbar=no"></iframe>
        </div>
        <div class="polluant left">
            <iframe width="800" height="400" src="https://public.tableau.com/views/test_16561097589390/dashlimit?Nom%20Poll=PM2&#x2e5&Nom%20Station=SUD3&:embed=true&:showVizHome=no&:toolbar=no"></iframe>
        </div>
        <div class="polluant right">
            <iframe width="800" height="400" src="https://public.tableau.com/views/test_16561097589390/dashlimit?Nom%20Poll=PM10&Nom%20Station=SUD3&:embed=true&:showVizHome=no&:toolbar=no"></iframe>
        </div>
        <div class="polluant left">
            <iframe width="800" height="400" src="https://public.tableau.com/views/test_16561097589390/dashlimit?Nom%20Poll=SO2&Nom%20Station=SUD3&:embed=true&:showVizHome=no&:toolbar=no"></iframe>
        </div>
    </div>
    </div>
  </body>
</html>
