<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Styles/style.css"></link>
    <title>TechForGood</title>
  </head>
  <body>
    <div class="container">
        <div class="header">
            <div class="logo-container">
                <img class="logo" src="../Assets/Métropole_Rouen_Normandie.png " />
                <img class="logo" src="../Assets/atmo.png " />
            </div>
            <div class="title-container">
                <h1>Rouen Track'Air </h1>
            </div>
        </div>
        <div class="discover">
          <div class="description">
            <div class="text">
              <h2>Votre santé est importante</h2>
              <p>Grâce aux stations de mesure de la qualité de l'air, nous avons pu exploiter de nombreuses données. Ces données nous </p>
            </div>
            <div class="furthermore">
              <button onclick="window.location.href='./graph.html'">Faire partie du changement !</button>
            </div>
          </div>
            <div class="graph">
              <iframe width="800" height="400" src="https://public.tableau.com/views/test_16561097589390/Tableaudebord1?:embed=true&:showVizHome=no&:toolbar=no"></iframe>
            </div> 
          </div>
          </div>
  </body>
</html>
