body {
  margin: 0;
  font-family: Main;
}

@font-face {
  font-family: Main;
  src: url(../fonts/Sansita-Regular.ttf);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "selector selector selector"
    "graphes graphes graphes";
  height: 100%;
  background: linear-gradient(
    160deg,
    rgba(34, 193, 195, 1) 22%,
    rgba(37, 14, 252, 1) 57%
  );
  row-gap: 20px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "logo-container . title-container";
  grid-area: header;
  padding: 10px 20px;
  position: relative;
  background: inherit;
  z-index: 10;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  z-index: -1;
  background: inherit;
}

.logo-container {
  grid-area: logo-container;
}

.title-container {
  grid-area: title-container;
}

.logo-container {
  gap: 10px;
}

.selector {
  grid-area: selector;
  display: flex;
  justify-content: center;
}

.selector select {
  height: 50px;
  width: 200px;
  border-radius: 15px;
  text-align: center;
}

iframe {
  border: none;
  width: 50%;
}

.polluant div {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.logo {
  max-width: 100px;
  height: auto;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.title-container h1 {
  font-size: 40px;
}

.description {
  grid-area: description;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.description .text {
  padding: 20px 40px;
  gap: 10px;
}

.description .text h2 {
  font-size: 50px;
  margin-bottom: 0;
}

.description .text p {
  margin-left: 20px;
}

.graphes {
  grid-area: graphes;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 50px;
  gap: 50px;
}

.polluant {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
}

.furthermore {
  grid-area: furthermore;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.furthermore button {
  font-family: Main;
  appearance: none;
  font-size: 18px;
  padding: 40px 80px;
  border: 3px solid #fff;
  border-radius: 20px;
  transition: all 0.9s;
  cursor: pointer;
}

.furthermore button:hover {
  transition: all 0.9s;
  background: transparent;
  font-size: 30px;
  color: #fff;
}

@media (max-width: 800px) {
  .container {
    position: unset;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "selector"
      "graphes";
  }

  .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "title-container"
      "logo-container";
    grid-area: header;
    padding: 10px 20px 20px;
  }

  .title-container {
    grid-area: title-container;
    justify-content: center;
  }

  .logo-container {
    grid-area: logo-container;
    display: flex;
    justify-content: center;
  }

  .description {
    grid-area: description;
  }
  .selector {
    margin: 0 0 40px 0;
  }

  .selector select {
    margin-top: 15px;
  }

  .polluant {
    padding: 0;
  }

  .left {
    flex-direction: column-reverse;
  }

  .right {
    flex-direction: column;
  }

  .graphes {
    grid-area: graphes;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .polluant div {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
  }

  iframe {
    width: 100%;
  }
}
