body {
  margin: 0;
  font-family: Main;
}

@font-face {
  font-family: Main;
  src: url(../fonts/Sansita-Regular.ttf);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 1.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "selector selector selector"
    "graph graph graph";
  height: 100vh;
  background: linear-gradient(
    160deg,
    rgba(34, 193, 195, 1) 22%,
    rgba(37, 14, 252, 1) 57%
  );
  row-gap: 20px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "logo-container . title-container";
  grid-area: header;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  background: inherit;
  z-index: 10;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  z-index: -1;
  background: inherit;
}

.logo-container {
  grid-area: logo-container;
}

.title-container {
  grid-area: title-container;
}

.logo-container {
  gap: 10px;
}

.selector {
  grid-area: selector;
  display: flex;
  justify-content: center;
}

.selector select {
  height: 50px;
  width: 200px;
  border-radius: 15px;
  text-align: center;
}

.graph {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "graph";
  grid-area: discover;
}

.logo {
  max-width: 100px;
  height: auto;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.title-container h1 {
  font-size: 40px;
}

.description {
  grid-area: description;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.description .text {
  padding: 20px 40px;
  gap: 10px;
}

.description .text h2 {
  font-size: 50px;
  margin-bottom: 0;
}

.description .text p {
  margin-left: 20px;
}

.graph {
  grid-area: graph;
  padding: 0 30px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.furthermore {
  grid-area: furthermore;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.furthermore button {
  font-family: Main;
  appearance: none;
  font-size: 18px;
  padding: 40px 80px;
  border: 3px solid #fff;
  border-radius: 20px;
  transition: all 0.9s;
  cursor: pointer;
}

.furthermore button:hover {
  transition: all 0.9s;
  background: transparent;
  font-size: 30px;
  color: #fff;
}

@media (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 1.2fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "discover"
      ".";
  }

  .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "title-container"
      "logo-container";
    grid-area: header;
    padding: 10px 20px 20px;
  }

  .title-container {
    grid-area: title-container;
  }

  .logo-container {
    grid-area: logo-container;
    display: flex;
    justify-content: center;
  }

  .discover {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "description graph";
    grid-area: discover;
  }

  .description {
    grid-area: description;
  }

  .graph {
    grid-area: graph;
  }
}
